@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   /* color variables */
   --secondary-color: #333;
   --accent-color: #007bff;
   --text-color: #000;
   --background-color: #f5ebeb;

   /* *border radius */
   --border-radius: 12px;

   /* * margin */
   --margin-top: 1rem;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
}

/* *Header and Navigation */
header {
   background-color: var(--background-color);
   padding: 0.2rem;
   text-align: center;
   position: sticky;
   top: 0;
   z-index: 1;
}

.navBar {
   background-color: var(--background-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navCallBtn {
   text-decoration: none;
   color: var(--text-color);
   font-weight: bold;
   display: inline-block;
   width: 30%;
}

.hamburger {
   display: none;
}

.navList {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: space-around;
   width: 90%;
}

.navList a {
   text-decoration: none;
   color: var(--text-color);
   font-weight: bold;
}

/* *Main */
main {
   background-color: rgba(255, 255, 255, 0.8);
}

/* *Social media buttons */
#hideContacts {
   position: fixed;
   top: 34%;
   left: 0;
   z-index: 1000;
   cursor: pointer;
   color: var(--text-color);
   font-size: 32px;
}

.social-btns {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1000;
   position: fixed;
   top: 40%;
   left: -10px;
   gap: 10px;
   padding: 0.3rem;
}

.facebookBtn {
   background-color: #3b5998;
   color: white;
   padding: 20px;
   border-radius: 60% 40% 40% 60% / 50% 30% 70% 50%;
   display: inline-block;
   text-align: center;
   font-size: 16px;
   line-height: 1;
   width: 60px;
   height: 60px;
}

.facebookBtn:hover {
   background-color: #2d4373;
   transition: background-color 0.3s ease;
   transform: scale(1.2);
}

.whatsappBtn {
   background-color: #25d366;
   color: white;
   padding: 20px;
   border-radius: 60% 40% 40% 60% / 50% 30% 70% 50%;
   display: inline-block;
   text-align: center;
   font-size: 16px;
   line-height: 1;
   width: 60px;
   height: 60px;
}

.whatsappBtn:hover {
   background-color: #128c7e;
   transition: background-color 0.3s ease;
   transform: scale(1.2);
}

.instaBtn {
   background-color: #e1306c;
   color: white;
   padding: 20px;
   border-radius: 60% 40% 40% 60% / 50% 30% 70% 50%;
   display: inline-block;
   text-align: center;
   font-size: 16px;
   line-height: 1;
   width: 60px;
   height: 60px;
}

.instaBtn:hover {
   background-color: #c13584;
   transition: background-color 0.3s ease;
   transform: scale(1.2);
}

.phoneBtn {
   background-color: #34b7f1;
   color: white;
   padding: 20px;
   border-radius: 60% 40% 40% 60% / 50% 30% 70% 50%;
   display: inline-block;
   text-align: center;
   font-size: 16px;
   line-height: 1;
   width: 60px;
   height: 60px;
}

.phoneBtn:hover {
   background-color: #007bff;
   transition: background-color 0.3s ease;
   transform: scale(1.2);
}

.emailBtn {
   background-color: #f39c12;
   color: white;
   padding: 20px;
   border-radius: 60% 40% 40% 60% / 50% 30% 70% 50%;
   display: inline-block;
   text-align: center;
   font-size: 16px;
   line-height: 1;
   width: 60px;
   height: 60px;
}

.emailBtn:hover {
   background-color: #d35400;
   transition: background-color 0.3s ease;
   transform: scale(1.2);
}

.social-btns i {
   font-size: 1.2rem;
   color: white;
   border-radius: 50%;
}

/* *Hero section */
.hero {
   background: url("images/header.jpg") no-repeat center center;
   background-size: cover;
   height: 700px;
}

.hero-content {
   display: flex;
   flex-direction: column;
   height: 100%;
   text-align: center;
   color: white;
   backdrop-filter: blur(2px);
}

.hero-content h1 {
   color: #000;
   font-weight: bold;
   text-align: end;
   padding-right: 25%;
   padding-top: 5%;
   font-size: 3rem;
}

.hero-content h1 span {
   display: block;
}

.hero-content p {
   color: #fff;
   font-weight: bold;
   font-size: 1.5rem;
   text-align: center;
   margin-top: 5rem;
   padding: 1rem;
   width: 50%;
   align-self: flex-end;
}

.hero-content .btn {
   display: inline-block;
   padding: 10px 20px;
   color: white;
   text-decoration: none;
   margin-top: 20px;
   margin-right: 1rem;
   align-self: flex-end;
}

/* *Description Section */
.description {
   padding: 2rem;
   background-color: var(--background-color);
   border-radius: var(--border-radius);
   margin: 1rem auto;
   text-align: center;
   width: 98%;
}

.description-rows {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

/* *Photos Section */
.photos {
   padding: 2rem;
   background-color: var(--background-color);
   border-radius: var(--border-radius);
   margin: 1rem auto;
   text-align: center;
   width: 98%;
}

.presentationsPhotos {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   justify-content: center;
}

.presentationsPhotos img {
   width: 100%;
   height: auto;
   border-radius: var(--border-radius);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 98%;
}

.presentationsPhotos img:hover {
   transform: scale(1.05);
   transition: transform 0.3s ease;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   filter: brightness(0.9);
}

/* *Info section */

.info {
   padding: 2rem;
   background-color: var(--background-color);
   border-radius: var(--border-radius);
   margin: 1rem auto;
   text-align: center;
   display: flex;
   flex-direction: row;
   gap: 1rem;
   width: 98%;
}

/* *Photo gallery */

.photoGallery {
   background-color: var(--background-color);
   border-radius: var(--border-radius);
   padding: 1rem;
   display: flex;
   flex-direction: column;
   width: 98%;
   margin: auto;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 10px;
   margin-top: 20px;
}

.gallery img {
   width: 100%;
   height: auto;
   cursor: pointer;
   border-radius: 6px;
   transition: transform 0.2s;
}

.gallery img:hover {
   transform: scale(1.03);
}

/* Modal full screen */
.modal {
   display: none;
   position: fixed;
   z-index: 9999;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.9);
}

.modalContent {
   display: block;
   max-width: 90%;
   max-height: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Close button */
.closeModalBtn {
   position: absolute;
   right: 15px;
   color: #fff;
   font-size: 36px;
   cursor: pointer;
   z-index: 1001;
}

/* Arrows */
.navArrow {
   position: absolute;
   top: 50%;
   font-size: 48px;
   color: white;
   padding: 16px;
   cursor: pointer;
   user-select: none;
   transform: translateY(-50%);
}

.prev {
   left: 10px;
}

.next {
   right: 10px;
}

/* *Package cards and container */
.packageOptions {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 1rem;
   padding: 2rem;
   background-color: var(--background-color);
   border-radius: var(--border-radius);
   margin: 1rem auto;
   width: 98%;
}

.disclaimer {
   font-size: 0.8rem;
   color: #888;
   text-align: center;
   margin-top: 1rem;
}

/* * Footer */

footer {
   background-color: #222;
   color: #fff;
   padding: 40px 20px;
   text-align: center;
}

.footer-content {
   max-width: 1000px;
   margin: 0 auto;
}

.footer-content p {
   margin: 0;
   font-size: 16px;
   color: #ccc;
}

/* Social icons */
.social-icons {
   list-style: none;
   padding: 0;
   margin: 20px 0 0 0;
   display: flex;
   justify-content: center;
   gap: 20px;
}

.social-icons li {
   display: inline-block;
}

.social-icons a {
   color: #fff;
   font-size: 24px;
   transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
   color: #00bfff;
   transform: scale(1.2);
}

.portfolioLink {
   color: rgb(29, 187, 29);
   text-decoration: none;
}

.portfolioLink:hover {
   color: #00bfff;
   text-decoration: underline;
}

.portfolioLink:visited {
   color: rgb(29, 187, 29);
}

.hidden {
   opacity: 0;
   transform: translateY(30px);
   transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in {
   opacity: 1;
   transform: translateY(0);
}

.hidden:nth-child(0) {
   transition-delay: 0.2s;
}
.hidden:nth-child(1) {
   transition-delay: 0.5s;
}
.hidden:nth-child(2) {
   transition-delay: 0.5s;
}

/* Back to top arrow */
.back-to-top {
   position: fixed;
   bottom: 30px;
   right: 30px;
   background-color: var(--accent-color);
   color: white;
   font-size: 24px;
   padding: 10px 15px;
   border-radius: 50%;
   text-align: center;
   text-decoration: none;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease, visibility 0.3s ease;
   z-index: 1000;
}

.back-to-top:hover {
   background-color: #0056b3;
}

/* Quando visibile */
.back-to-top.show {
   opacity: 1;
   visibility: visible;
}

/* - MEDIA QUERIES */

@media screen and (max-width: 768px) {
   /* Navbar mobile */
   .navList {
      display: none !important;
      flex-direction: column;
      background-color: var(--background-color);
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      z-index: 999;
   }

   .navList.active {
      display: flex !important;
   }

   .navList li {
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid #ccc;
   }

   .navBar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
   }

   /* Hamburger icon */
   .hamburger {
      display: block;
      font-size: 24px;
      cursor: pointer;
   }

   /* Hero section: adattamento mobile */
   .hero {
      height: 450px;
      background-position: center;
   }

   .hero-content h1 {
      font-size: 2rem;
      text-align: center;
      padding-right: 0;
      padding-top: 2rem;
   }

   .hero-content p {
      font-size: 1rem;
      width: 90%;
      align-self: center;
      margin-top: 2rem;
   }

   .hero-content .btn {
      align-self: center;
      margin-right: 0;
   }

   .gallery {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 5px;
   }

   .gallery img {
      width: 100%;
   }

   .packageOptions {
      flex-direction: column;
   }
}
